name: Raphael server instance
'on':
  push:
    branches:
      - server
jobs:
  download:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/chocomico/raphael-skill-encoder:latest
    steps:
      - name: Cache files
        id: cache-files
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}
      - name: Run script
        run: >
          cd /usr/src/server

          python3 download.py
          ZnVjawZXlKUFYwNUZVaUk2SW5KbGFXcHBhM1Z5YjNObElpd2lVa1ZRVHlJNkluSmxhV3BwSWl3aVZFZGZRVkJKWDBsRUlqb2lNelUxTVRRMklpd2lWRWRmUVZCSlgwaEJVMGdpT2lJek5HUm1OREE0TXpZd01XWTNPV1ptTnpSaFpqWmpOV05rTTJJelpUTXdZU0lzSWxSSFgwSlBWRjlVVDB0RlRpSTZJalV3TmpBd09UQXlPRGc2UVVGRll5MVhWRWsyUVZFNWNtSlJMVWRmUmtWR05VazJia0ZCY21aaGRsTk5NbEVpTENKR1NVeEZJam8yTmpnek55d2lTVVFpT2lKTldYQjZNRU5ZYTBsU1QwZFZSWEZFV0VWRVppSXNJa05OUkNJNkltVjVTbXBpTWpGMFdWYzFhMk41U1RabGVVcDZXbGRrZEZwWE5UQmplVWsyVjNsS2JWcHRNWGRhVjJOblRGaHJaMHhYTlhaak0xSnJZVmMwWjB4WGFIQmFSMVptV1cxR2RXSnRWbmxKUXpGMVlqTk9NRmxZVW5wSlF6RnpZakprYzFwWVdteGlRMEpzWTI1S2RtTnBRWFJoVTBKNldsZGtOMk15Vm01aVYxWjFaRVJ2ZDAweVVqbE1iVEZ5WkdsQmRHSlhSbmRKUkVFMlpHbEJkRmw2Y0RKSlIzaHdXVzVuZVU1cVZXZE1XR2Q1VG1wVmRHTkhSbmxaVnpGNlNVTmtjMkl5T1hKWlYyaHNXVmRSZEdNeWVIQlpNbFo2VUZSVk5tTnRUWFJpUnpsMllUSkdiMXBYUm10UVZGRjNUMjFLYldOdFJuUmFXRTA1VDBSd2RGcFVNWHBrUjBaNVQyMUdlRXhYTVhaYVIxVTVUWHB3ZVZwWFdUbE9hbkIzWXpOcmRHTnRVVGxOVkhCb1kxTXhlbVJJU214aWJXUXdZVVF3ZDB4cVoyNUpRekYzWTIxV2VscFlVV2RqTW5oMlpIbEJkR1JJVm5WYVUwSm9ZbTFzZEZsWVVuQmlNalJuVEZkYWNHSklVbXhqYkRscVlqSXhkMkpIVmpSSlEyUjBZak5hY0ZwVU1UTlpXRkpzWTIweGFHTnRkR1paVnpWd1lsZFZkV05ITlc1SlJuUXpXVmhTYkdOdE1XaGpiWFJrVHpGemQxaFlUbXBaVjNoc1VGUmplVTFFYjNSTlZGbG5WekpzZFZoVWRHSmhWelZrVnpOa2FHUkhWbmxpVjBaNVlURXdaMkl6V214amJYaG9aVlF3ZVU5cVNXNUpRekZxWTIxWlowMTZSWFZOZVVGMFkwZHNORmd5V25Sa1EwSTFaRmhaTUUxcVFuZEpTRnB3V2tkV2RreFhkRGRqTWxadVlsZFdkV1JFYjNkTk1sSTVURzB4Y21ScFNtUk1RMHBxWWpJeGFXRlhOV3hKYW5CaVNXMWFiV0pZUW14YWVVRjBaVk5CZEdKdE9YcGtSMUp3WW1sQmRHRkhiR3RhVmpscFdWYzFkVnBZU1dkTVZ6VjJZek5TYUdSSVRXZE1WM2gyV2pKNGJHUnRWbk5KUjFaNVkyMDVlVWxETVcxSlIwNTJZbTFPYUdSRFFYUmhVMEo2V2xka2RGcFhOVEJqZVRWdFdtMU9hR1JEUVhSWmVVSnFZak5DTlVsSVduQmFSMVoyVEZkemRXSlhkREpKYVhkcFdtMWFkR05IVm01SlF6RTFTVU14ZFdJelRqQmFSMngxU1VNeGIyRlhVbXhZTWtwb1ltMDFiR05wUVhSaWJUbDZaRWRHTUdONVFYUmlSemx1WWtkV01scFhkMmRhV0VwNVlqTkpaMHhYYTJkbE1scHdZa2RXT1VsRE1YUlpXRUZuVFVSd2FFOXFRUzlKUXpFeVltbEJkRmw2Y0doSlIzaHdXVzA1ZDJSWVRXZE1WMFpxU1VSSloweFhTVFpaVTBFd1RsZHpaMXBYTlc1aVIyeDZZVU14Y2sxNlNYVmlWM1JvU1VNeGRGbFlRV2ROUkhCb1QycEZMMGxETVRKaWFVRjBXWHB3YUVsSGVIQlpiVGwzWkZoTloweFhSbXBKUkVsblRGZEpObGxUUVRCT1YzTm5ZVzFHZDFsWE5XeGFXRTVzVEZkemVrMXBOWFJoTWtWcFRFTktiVnB0TVhkYVYyTm5URmhyWjB4WE5YWmpNMUpyWVZjMFoweFhhSEJhUjFabVdXMUdkV0p0Vm5sSlF6RjFZak5PTUZsWVVucEpRekZ6WWpKa2MxcFlXbXhpUTBKc1kyNUtkbU5wUVhSaFUwSXlZVmRTYkdKNU1YSk1iVEZ5WkdsQmRHRlRRbXhpYldSellWaE9iMHhYYzNwTmFUVjBZVEpGWjB4WGEyZGxNbHB3WWtkV09VbERNWFJaV0VGblRVUndNa2xETVhSWldFRm5UVlJ3YUVsRE1YUlpXRUZuVFdwd2VsQjVRWFJaZW5Cb1NVZE9kbU5JYTJkTVYwMDJaR2xDYW1JelFqVkpRekZxVDI1Tloxa3lPWGRsVTBGdVdWYzFjR0pYVldkWlYzaDNZVWRGWjFwWE5XNU1WazB4U1VWVmVVOURRazVsVTBKdldsaEtka2xIUm1wWlYxSnNZbGRzYUV4dE1YSmthV05wVEVOS2JWcHRNWGRhVjJOblRGaHJaMHhYTlhaak0xSnJZVmMwWjB4WGFIQmFSMVptV1cxR2RXSnRWbmxKUXpGMVlqTk9NRmxZVW5wSlF6RnpZakprYzFwWVdteGlRMEpzWTI1S2RtTnBRWFJoVTBJeVlWZFNiR0o1TVhKTWJURnlaR2xCZEdGVFFuRlpXRUpvWW0xV2JHTXlWWFJoZWsxNVRHMHhjbGxUUVhSaFUwSTNXbTFzYzFwWU1HZE1WekZvWTBOQmQwOXVXV2RNVnpGb1kwTkJlRTl0UldkTVZ6Rm9ZME5CZVU5dVRTOUpRekZxVDIxRloxa3lPWGRsVTBGMFdYcHdNa2xIVG5aalNHdG5URmROTm1ONVFtcGlNMEkxU1VOa2FHSnRiSFJhVTBKb1lraENiMWxUUW5GalJ6UjBWWHBWWjFKVVNUUkpSVEUxU1Vkb2JHTnRPR2RaVjA1b1drZFdkR0ZYUlhWaVYzUXlTbmxKYzBsdFdtMWlXRUpzV25sQmRHVlRRWFJpYlRsNlpFZFNjR0pwUVhSaFIyeHJXbFk1YVZsWE5YVmFXRWxuVEZjMWRtTXpVbWhrU0UxblRGZDRkbG95ZUd4a2JWWnpTVWRXZVdOdE9YbEpRekZ3U1VOa2FHSnRiSFJhVTBKb1lraENiMWxUUW14aWJXTjBWWHBWWjFKVVNUUkpSVEUxU1Vkb2JHTnRPR2RaVjA1b1drZFdkR0ZYUlhWaVYzUXlTbmxCZEdNelRXZE5SRUUyVFVSQk5rMUVSWFZOUkVGM1NVTXhNbHB1U21oaVYxWjZTVVJGWjB4WVRXZE5la2wzWlVSTmVVMURRVzVrUjJneFlsZEpkV0Z1UW14YWVXTnBURU5LYlZwdE1YZGFWMk5uVEZocloweFhOWFpqTTFKcllWYzBaMHhYYUhCYVIxWm1XVzFHZFdKdFZubEpRekYxWWpOT01GbFlVbnBKUXpGellqSmtjMXBZV214aVEwSnNZMjVLZG1OcFFYUmhVMEZ1V1ZjMWNHSlhWV2RaVjNoM1lVZEZaMXBYTlc1TVZrMHhTVVZWZVU5RFFrNWxVMEp2V2xoS2RrbEhSbXBaVjFKc1lsZHNhRXh0TVhKa2FXTm5URmhPZWtsRVFYZFBha0Y2VDJwQmQweHFRWGROUTBGMFpHMWFlVmxYTVd4amVVRjRTVU14ZWtsRVRYbE5TR2Q2VFdwQlowb3pVbTlrVnpGcFRHMXdkMXBYWTI1SmJERTVURU5LZG1SWVVuZGtXRko2U1dwd1ltVjVTbTFoVjNoc1NXcHZhVmxYTlhCaVYxVm5XVmQ0ZDJGSFJXZGFWelZ1VEZaTk1VbEZWWGxQUTBKT1pWTkNiMXBZU25aSlIwWnFXVmRTYkdKWGJHaE1iVEZ5WkdsSmMwbHVVbTlrVnpGcFNXcHZhV1JIYURGaVYwbDFZVzVDYkZwNVNYTkpiWGhvWW0xamFVOXBTbXhpYldOcFpsTjROMGx0V25CaVIxVnBUMmxLYUdKdGJIUmFVMEpvWWtoQ2IxbFRRbkZqUnpSMFZYcFZaMUpVU1RSSlJURTFTVWRvYkdOdE9HZFpWMDVvV2tkV2RHRlhSWFZpVjNReVNXbDNhV1JIYURGaVYwbHBUMmxLTUdGSVZuUlphVFZ4WTBkV2JrbHBkMmxpUjBaMVdubEpOa2x0Y0hkaWFVbzVXRmd3UFNKOQ==
  encode1:
    runs-on: ubuntu-latest
    needs: download
    container:
      image: ghcr.io/chocomico/raphael-skill-encoder:latest
    steps:
      - name: Cache files
        id: cache-files
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}
      - name: Run script
        run: |
          cd /usr/src/server
          python3 encode.py
      - name: Cache files after encode
        id: cache-files-encode
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}-1
  encode2:
    runs-on: ubuntu-latest
    needs: encode1
    container:
      image: ghcr.io/chocomico/raphael-skill-encoder:latest
    steps:
      - name: Cache files
        id: cache-files
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}-1
      - name: Run script
        run: |
          cd /usr/src/server
          python3 encode.py
      - name: Cache files after encode
        id: cache-files-encode
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}-2
  encode3:
    runs-on: ubuntu-latest
    needs: encode2
    container:
      image: ghcr.io/chocomico/raphael-skill-encoder:latest
    steps:
      - name: Cache files
        id: cache-files
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}-2
      - name: Run script
        run: |
          cd /usr/src/server
          python3 encode.py
      - name: Cache files after encode
        id: cache-files-encode
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}-3
  encode4:
    runs-on: ubuntu-latest
    needs: encode3
    container:
      image: ghcr.io/chocomico/raphael-skill-encoder:latest
    steps:
      - name: Cache files
        id: cache-files
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}-3
      - name: Run script
        run: |
          cd /usr/src/server
          python3 encode.py
      - name: Cache files after encode
        id: cache-files-encode
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}-4
  upload:
    runs-on: ubuntu-latest
    needs: encode4
    container:
      image: ghcr.io/chocomico/raphael-skill-encoder:latest
    steps:
      - name: Cache files
        id: cache-files
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}-4
      - name: Run script
        run: |
          cd /usr/src/server
          python3 upload.py
