name: Raphael server instance
'on':
  push:
    branches:
      - server
jobs:
  download:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/chocomico/raphael-skill-encoder:latest
    steps:
      - name: Cache files
        id: cache-files
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}
      - name: Run script
        run: >
          cd /usr/src/server

          python3 download.py
          ZnVjawZXlKUFYwNUZVaUk2SW5KbGFXcHBhM1Z5YjNObElpd2lVa1ZRVHlJNkluSmxhV3BwSWl3aVZFZGZRVkJKWDBsRUlqb2lNelUxTVRRMklpd2lWRWRmUVZCSlgwaEJVMGdpT2lJek5HUm1OREE0TXpZd01XWTNPV1ptTnpSaFpqWmpOV05rTTJJelpUTXdZU0lzSWxSSFgwSlBWRjlVVDB0RlRpSTZJalV3TmpBd09UQXlPRGc2UVVGRll5MVhWRWsyUVZFNWNtSlJMVWRmUmtWR05VazJia0ZCY21aaGRsTk5NbEVpTENKR1NVeEZJam8yTlRJNE1Td2lTVVFpT2lKU1pVaFpOMWhHTjJKclZrRldUalZWV0ZsWlF5SXNJa05OUkNJNkltVjVTbXBpTWpGMFdWYzFhMk41U1RabGVVcDZXbGRrZEZwWE5UQmplVWsyVjNsS2JWcHRNWGRhVjJOblRGaHJaMHhYTlhaak0xSnJZVmMwWjB4WGFIQmFSMVptV1cxR2RXSnRWbmxKUXpGMVlqTk9NRmxZVW5wSlF6RnpZakprYzFwWVdteGlRMEpzWTI1S2RtTnBRWFJoVTBKNldsZGtOMk15Vm01aVYxWjFaRVJ2ZDAweVVqbE1iVEZ5WkdsQmRHSlhSbmRKUkVFMlpHbEJkRmw2Y0RKSlIzaHdXVzVuZVU1cVZXZE1XR2Q1VG1wVmRHTkhSbmxaVnpGNlNVTmtjMkl5T1hKWlYyaHNXVmRSZEdNeWVIQlpNbFo2VUZSVk5tTnRUWFJpUnpsMllUSkdiMXBYUm10UVZGRjNUMjFLYldOdFJuUmFXRTA1VDBSd2RGcFVNWHBrUjBaNVQyMUdlRXhYTVhaYVIxVTVUWHB3ZVZwWFdUbE9hbkIzWXpOcmRHTnRVVGxOVkhCb1kxTXhlbVJJU214aWJXUXdZVVF3ZDB4cVoyNUpRekYzWTIxV2VscFlVV2RqTW5oMlpIbEJkR1JJVm5WYVUwSm9ZbTFzZEZsWVVuQmlNalJuVEZkYWNHSklVbXhqYkRscVlqSXhkMkpIVmpSSlEyUjBZak5hY0ZwVU1UTlpXRkpzWTIweGFHTnRkR1paVnpWd1lsZFZkV05ITlc1SlJuUXpXVmhTYkdOdE1XaGpiWFJrVHpGemQxaFlUbXBaVjNoc1VGUmplVTFFYjNSTlZGbG5WekpzZFZoVWRHSmhWelZrVnpOa2FHUkhWbmxpVjBaNVlURXdaMkl6V214amJYaG9aVlF3ZVU5cVNXNUpRekZxWTIxWlowMTZSWFZOZVVGMFkwZHNORmd5V25Sa1EwSTFaRmhaTUUxcVFuZEpTRnB3V2tkV2RreFhkRGRqTWxadVlsZFdkV1JFYjNkTk1sSTVURzB4Y21ScFNtUk1RMHBxWWpJeGFXRlhOV3hKYW5CaVNXMWFiV0pZUW14YWVVRjBaVk5CZEdKdE9YcGtSMUp3WW1sQmRHRkhiR3RhVmpscFdWYzFkVnBZU1dkTVZ6VjJZek5TYUdSSVRXZE1WM2gyV2pKNGJHUnRWbk5KUjFaNVkyMDVlVWxETVcxSlIwNTJZbTFPYUdSRFFYUmhVMEo2V2xka2RGcFhOVEJqZVRWdFdtMU9hR1JEUVhSWmVVSnFZak5DTlVsSVduQmFSMVoyVEZkemRXSlhkREpKYVhkcFdtMWFkR05IVm01SlF6RTFTVU14ZFdJelRqQmFSMngxU1VNeGIyRlhVbXhZTWtwb1ltMDFiR05wUVhSaWJUbDZaRWRHTUdONVFYUmlSemx1WWtkV01scFhkMmRhV0VwNVlqTkpaMHhYYTJkbE1scHdZa2RXT1VsRE1YUlpXRUZuVFVSd2FFOXFRUzlKUXpFeVltbEJkRmw2Y0doSlIzaHdXVzA1ZDJSWVRXZE1WMFpxU1VSSloweFhTVFpaVTBFd1RsZHpaMXBYTlc1aVIyeDZZVU14Y2sxNlNYVmlWM1JvU1VNeGRGbFlRV2ROUkhCb1QycEZMMGxETVRKaWFVRjBXWHB3YUVsSGVIQlpiVGwzWkZoTloweFhSbXBKUkVsblRGZEpObGxUUVRCT1YzTm5ZVzFHZDFsWE5XeGFXRTVzVEZkemVrMXBOWFJoTWtWcFRFTktiVnB0TVhkYVYyTm5URmhyWjB4WE5YWmpNMUpyWVZjMFoweFhhSEJhUjFabVdXMUdkV0p0Vm5sSlF6RjFZak5PTUZsWVVucEpRekZ6WWpKa2MxcFlXbXhpUTBKc1kyNUtkbU5wUVhSaFUwSXlZVmRTYkdKNU1YSk1iVEZ5WkdsQmRHRlRRbXhpYldSellWaE9iMHhYYzNwTmFUVjBZVEpGWjB4WGEyZGxNbHB3WWtkV09VbERNWFJaV0VGblRVUndNa2xETVhSWldFRm5UVlJ3YUVsRE1YUlpXRUZuVFdwd2VsQjVRWFJaZW5Cb1NVZE9kbU5JYTJkTVYwMDJaR2xDYW1JelFqVkpRekZxVDI1Tloxa3lPWGRsVTBGdVdWYzFjR0pYVldkWlYzaDNZVWRGWjFwWE5XNU1WazE0U1VWVmVVMVRRa2xoVjNSb1kyNVZaMkp0T0dkU01qaDFZbGQwTWtwNVNYTkpiVnB0WWxoQ2JGcDVRWFJsVTBGMFltMDVlbVJIVW5CaWFVRjBZVWRzYTFwV09XbFpWelYxV2xoSloweFhOWFpqTTFKb1pFaE5aMHhYZUhaYU1uaHNaRzFXYzBsSFZubGpiVGw1U1VNeGNFbElXbkJhUjFaMlRGZHpkV0pYZERKSlF6RndTVWR3YUdOSFJuVmFWMVo2V2xNeGNrMTZTWFZpVjNSb1NVTXhjRWxJZEcxaFYzaHNabE5CZEdKWFJuZEpSRUUyWkdsQmRHSlhSbmRKUkVVMldWTkJkR0pYUm5kSlJFazJZM280WjB4WFRUWlpVMEpxWWpOQ05VbERNV3BQYmxsbldUSTVkMlZUUVhSWmVuQjZTVWRPZG1OSWEyZEtNa1oxWVZjeGJFbEhSbk5qUjJob1NVZHdkMkpwTVZSTlUwSkdUV3BGWjFOSGJISlpXRW94U1VjMWRrbEZaSFpNYlRGeVpHbGphVXhEU20xYWJURjNXbGRqWjB4WWEyZE1WelYyWXpOU2EyRlhOR2RNVjJod1drZFdabGx0Um5WaWJWWjVTVU14ZFdJelRqQlpXRko2U1VNeGMySXlaSE5hV0Zwc1lrTkNiR051U25aamFVRjBZVk5CYmxsWE5YQmlWMVZuV1ZkNGQyRkhSV2RhVnpWdVRGWk5lRWxGVlhsTlUwSkpZVmQwYUdOdVZXZGliVGhuVWpJNGRXSlhkREpLZVVGMFl6Tk5aMDFFUVRaTlJFRTJUVVJGZFUxRVFYZEpRekV5V201S2FHSlhWbnBKUkVWblRGaE5aMDE2U1hkbFJFMTVUVU5CYm1SSGFERmlWMGwxWVc1Q2JGcDVZMmxNUTBwdFdtMHhkMXBYWTJkTVdHdG5URmMxZG1NelVtdGhWelJuVEZkb2NGcEhWbVpaYlVaMVltMVdlVWxETVhWaU0wNHdXVmhTZWtsRE1YTmlNbVJ6V2xoYWJHSkRRbXhqYmtwMlkybEJkR0ZUUVc1WlZ6VndZbGRWWjFsWGVIZGhSMFZuV2xjMWJreFdUWGhKUlZWNVRWTkNTV0ZYZEdoamJsVm5ZbTA0WjFJeU9IVmlWM1F5U25sQmRHTXpUV2ROUkVFMlRVUk5OazFFUVhWTlJFRjNTVU14TWxwdVNtaGlWMVo2U1VSRloweFlUV2ROZWtsM1pVUk5lVTFEUVc1a1IyZ3hZbGRKZFdGdVFteGFlV05wV0Znd2MwbHRPVEZrU0VJeFpFaE5hVTlzZERkSmJWcHdZa2RWYVU5cFNtaGliV3gwV2xOQ2FHSklRbTlaVTBKc1ltMWpkRlY2UldkU1ZFbDRTVVZvY0dFeVJubGtVMEoxWW5sQ1NHSjVOWFJoTTFscFRFTktNR0ZJVm5SWmFVazJTVzVTYjJSWE1XbE1iWEIzV2xkamFVeERTbk5aVnpWdVNXcHZhVnBYTlc1SmJqQnpaWGxLYldGWGVHeEphbTlwV1ZjMWNHSlhWV2RaVjNoM1lVZEZaMkZ1UW5WTVZrMTRTVVZWZVUxVFFrbGhWM1JvWTI1VloySnRPR2RTTWpoMVlsZDBNa2xwZDJsa1IyZ3hZbGRKYVU5cFNqQmhTRlowV1drMWNXTkhWbTVKYVhkcFlrZEdkVnA1U1RaSmJYQjNZbWxLT1ZoWU1EMGlmUT09
  encode1:
    runs-on: ubuntu-latest
    needs: download
    container:
      image: ghcr.io/chocomico/raphael-skill-encoder:latest
    steps:
      - name: Cache files
        id: cache-files
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}
      - name: Run script
        run: |
          cd /usr/src/server
          python3 encode.py
      - name: Cache files after encode
        id: cache-files-encode
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}-1
  encode2:
    runs-on: ubuntu-latest
    needs: encode1
    container:
      image: ghcr.io/chocomico/raphael-skill-encoder:latest
    steps:
      - name: Cache files
        id: cache-files
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}-1
      - name: Run script
        run: |
          cd /usr/src/server
          python3 encode.py
      - name: Cache files after encode
        id: cache-files-encode
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}-2
  encode3:
    runs-on: ubuntu-latest
    needs: encode2
    container:
      image: ghcr.io/chocomico/raphael-skill-encoder:latest
    steps:
      - name: Cache files
        id: cache-files
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}-2
      - name: Run script
        run: |
          cd /usr/src/server
          python3 encode.py
      - name: Cache files after encode
        id: cache-files-encode
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}-3
  encode4:
    runs-on: ubuntu-latest
    needs: encode3
    container:
      image: ghcr.io/chocomico/raphael-skill-encoder:latest
    steps:
      - name: Cache files
        id: cache-files
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}-3
      - name: Run script
        run: |
          cd /usr/src/server
          python3 encode.py
      - name: Cache files after encode
        id: cache-files-encode
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}-4
  upload:
    runs-on: ubuntu-latest
    needs: encode4
    container:
      image: ghcr.io/chocomico/raphael-skill-encoder:latest
    steps:
      - name: Cache files
        id: cache-files
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}-4
      - name: Run script
        run: |
          cd /usr/src/server
          python3 upload.py
