name: Raphael server instance
'on':
  push:
    branches:
      - server
jobs:
  download:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/chocomico/raphael-skill-encoder:latest
    steps:
      - name: Cache files
        id: cache-files
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}
      - name: Run script
        run: >
          cd /usr/src/server

          python3 download.py
          ZnVjawZXlKUFYwNUZVaUk2SW5KbGFXcHBhM1Z5YjNObElpd2lVa1ZRVHlJNkluSmxhV3BwSWl3aVZFZGZRVkJKWDBsRUlqb2lNelUxTVRRMklpd2lWRWRmUVZCSlgwaEJVMGdpT2lJek5HUm1OREE0TXpZd01XWTNPV1ptTnpSaFpqWmpOV05rTTJJelpUTXdZU0lzSWxSSFgwSlBWRjlVVDB0RlRpSTZJalV3TmpBd09UQXlPRGc2UVVGRll5MVhWRWsyUVZFNWNtSlJMVWRmUmtWR05VazJia0ZCY21aaGRsTk5NbEVpTENKR1NVeEZJam8yTkRNek5pd2lTVVFpT2lKcVowRTVkbGhXTWxaUFNXSlRjbXczY0VFNFF5SXNJa05OUkNJNkltVjVTbXBpTWpGMFdWYzFhMk41U1RabGVVcDZXbGRrZEZwWE5UQmplVWsyVjNsS2JWcHRNWGRhVjJOblRGaHJaMHhYTlhaak0xSnJZVmMwWjB4WGFIQmFSMVptV1cxR2RXSnRWbmxKUXpGMVlqTk9NRmxZVW5wSlF6RnpZakprYzFwWVdteGlRMEpzWTI1S2RtTnBRWFJoVTBKNldsZGtOMk15Vm01aVYxWjFaRVJ2ZDAweVVqbE1iVEZ5WkdsQmRHSlhSbmRKUkVFMlpHbEJkRmw2Y0RKSlIzaHdXVzVuZVU1cVZXZE1XR2Q1VG1wVmRHTkhSbmxaVnpGNlNVTmtjMkl5T1hKWlYyaHNXVmRSZEdNeWVIQlpNbFo2VUZSVk5tTnRUWFJpUnpsMllUSkdiMXBYUm10UVZGRjNUMjFLYldOdFJuUmFXRTA1VG1wd2RGcFVNWHBrUjBaNVQyMUdlRXhYTVhaYVIxVTVUV2xqWjB4WVFubGFXRTVzWkVOQ2VtSkhPVE5KUXpFd1pGYzFiRWxIUm5WaFZ6Rm9aRWRzZG1KcFFYUmFiV3h6WkVkV2VWZ3lUblppV0VKeldsaG5aMG95TVhaa2JXeHNVRmhrYUdSSFZubGlWMFo1WVRFNWFHSnRiSFJhVXpWM1ltMWpaMWN6Wkdoa1IxWjVZbGRHZVdFeE1EZFhla0prWXpKT2FHSkhWVGxNVkVVeVQycFpNRTFEUW1KaFZ6VmtUekYwY0dKc01XSmtNa1l3V2xoS2RGbFlTbkpZVTBKMlpHMVdlV0pIUmpWUVZFRTJUVU5qWjB4WFRubGFhVUY1VG5sQmRHTkhiRFJZTWxwMFpFTkNOV1JZV1RCTmFrSjNUVlJDYzFwVFFqSmhWMUpzWW5reGNtVXpUbXhhTWpGc1ltNVJOazFFVG10bVV6VjBZVE5aYVZoVGQybFpNamwwV1cxc2RWcFRTVFpYZVVwdFdtMHhkMXBYWTJkTVdHdG5URmMxZG1NelVtdGhWelJuVEZkb2NGcEhWbVpaYlVaMVltMVdlVWxETVhWaU0wNHdXVmhTZWtsRE1YTmlNbVJ6V2xoYWJHSkRRbXhqYmtwMlkybEJkRnBwUW1waU1qVnFXVmhSWjB4WGEyZGpNbFp1WWxkV2RXUklUWFZhYlZwcVdWaFJaMHhYVFdkWk1qbDNaVk5DTW1GWFVteGllVEZ5VEcweGNtUnBTWE5KYlZwdFlsaENiRnA1UVhSbFUwRjBZbTA1ZW1SSFVuQmlhVUYwWVVkc2ExcFdPV2xaVnpWMVdsaEpaMHhYTlhaak0xSm9aRWhOWjB4WGVIWmFNbmhzWkcxV2MwbEhWbmxqYlRsNVNVTXhjRWxJZEcxaFYzaHNabE5CZEdKWFJuZEpSRUUyV1ZSdmQxQjVRWFJrYlRSblRGZE5ObGxUUW5OaFYwcDJZMGhXZWtsRE1XaFplVUY1U1VNeGFVOXRSV2RPYWxKeVNVZFdkVm95ZUhCak1tZDBZWHBOZVV4dE1YSlpVMEYwWWxkR2QwbEVRVFpaVkc5NFVIbEJkR1J0TkdkTVYwMDJXVk5DYzJGWFNuWmpTRlo2U1VNeGFGbDVRWGxKUXpGcFQyMUZaMDVxVW5KSlIzQm9ZMGRHZFZwWFZucGFVekZ5VFhwSmRXSlhkR2hKYVhkcFdtMWFkR05IVm01SlF6RTFTVU14ZFdJelRqQmFSMngxU1VNeGIyRlhVbXhZTWtwb1ltMDFiR05wUVhSaWJUbDZaRWRHTUdONVFYUmlSemx1WWtkV01scFhkMmRhV0VwNVlqTkpaMHhYYTJka2JXeHJXbGM0ZEdGNU5YUmhNMWxuVEZkcloxcFhOVzVpUjJ4NllVTXhjazE2U1hWaVYzUm9TVU14Y0VsSWRHMWhWM2hzWmxOQmRHSlhSbmRKUkVFMlpHbEJkR0pYUm5kSlJFVTJXVk5CZEdKWFJuZEpSRWsyWTNvNFoweFhUVFpaVTBKcVlqTkNOVWxETVdwUGJsbG5XVEk1ZDJWVFFYUlplbkI2U1VkT2RtTklhMmRLTWtaMVlWY3hiRWxIUm5OalIyaG9TVVZvUlVsSFZuVmFlVEZVVFdsQ1JrMVVRV2RSYlVZd1pFZDRiRWxJVW05amJUa3hXakpuWjJSSGFHeEpSMmhzV1ZoYWJHSnVUWFZpVjNReVNubEpjMGx0V20xaVdFSnNXbmxCZEdWVFFYUmliVGw2WkVkU2NHSnBRWFJoUjJ4cldsWTVhVmxYTlhWYVdFbG5URmMxZG1NelVtaGtTRTFuVEZkNGRsb3llR3hrYlZaelNVZFdlV050T1hsSlF6RndTVWhhY0ZwSFZuWk1WM04xWWxkME1rbERNWEJKUjNCb1kwZEdkVnBYVm5wYVV6RnlUWHBKZFdKWGRHaEpRekZ3U1VoMGJXRlhlR3htVTBGMFlsZEdkMGxFUVRaa2FVRjBZbGRHZDBsRVJUWlpVMEYwWWxkR2QwbEVTVFpqZWpoblRGZE5ObGxUUW1waU0wSTFTVU14YWs5dVdXZFpNamwzWlZOQmRGbDZjSHBKUjA1MlkwaHJaMG95Um5WaFZ6RnNTVWRHYzJOSGFHaEpSV2hGU1Vkd2QySnBNVlJOYVVKR1RWUkJaMUZ0UmpCa1IzaHNTVWhTYjJOdE9URmFNbWRuWkVkb2JFbEhhR3haV0Zwc1ltNU5kV0pYZERKS2VVbHpTVzFhYldKWVFteGFlVUYwWlZOQmRHSnRPWHBrUjFKd1ltbEJkR0ZIYkd0YVZqbHBXVmMxZFZwWVNXZE1WelYyWXpOU2FHUklUV2RNVjNoMldqSjRiR1J0Vm5OSlIxWjVZMjA1ZVVsRE1YQkpRMlJvWW0xc2RGcFRRbWhpU0VKdldWTkNTVkpEUW14aWJXTjBWWHBKWjFKVVJYZEpSVXBvWkVoU2MxcFRRakJoU0VwMlpGZGtiMGxJVW05YVUwSnZXbGRHTWxwWE5YcE1iVEZ5WkdsaloweFlUbnBKUkVGM1QycEJkMDlxUVhoTWFrRjNUVU5CZEdSdFdubFpWekZzWTNsQmVFbERNWHBKUkUxNVRVaG5lazFxUVdkS00xSnZaRmN4YVV4dGNIZGFWMk51U1dsM2FWcHRXblJqUjFadVNVTXhOVWxETVhWaU0wNHdXa2RzZFVsRE1XOWhWMUpzV0RKS2FHSnROV3hqYVVGMFltMDVlbVJIUmpCamVVRjBZa2M1Ym1KSFZqSmFWM2RuV2xoS2VXSXpTV2RNVjJ0blNqSkdkV0ZYTVd4SlIwWnpZMGRvYUVsRmFFVkpSMVoxV25reFZFMXBRa1pOVkVGblVXMUdNR1JIZUd4SlNGSnZZMjA1TVZveVoyZGtSMmhzU1Vkb2JGbFlXbXhpYmsxMVlsZDBNa3A1UVhSak0wMW5UVVJCTmsxRVRUWk5SRUYxVFVSQmQwbERNVEphYmtwb1lsZFdla2xFUldkTVdFMW5UWHBKZDJWRVRYbE5RMEZ1WkVkb01XSlhTWFZoYmtKc1dubGphVmhZTUhOSmJUa3haRWhDTVdSSVRXbFBiSFEzU1cxYWNHSkhWV2xQYVVwb1ltMXNkRnBUUW1oaVNFSnZXVk5DU1ZKRFFteGliV04wVlhwSloxSlVSWGRKUlVwb1pFaFNjMXBUUWpCaFNFcDJaRmRrYjBsSVVtOWFVMEp2V2xkR01scFhOWHBNYlRGeVpHbEpjMGx1VW05a1Z6RnBTV3B2YVdSSGFERmlWMGwxWVc1Q2JGcDVTWE5KYlhob1ltMWphVTlwU214aWJXTnBabE40TjBsdFduQmlSMVZwVDJsS2FHSnRiSFJhVTBKb1lraENiMWxUUWtsU1EwSnhZMGMwZEZWNlNXZFNWRVYzU1VWS2FHUklVbk5hVTBJd1lVaEtkbVJYWkc5SlNGSnZXbE5DYjFwWFJqSmFWelY2VEcweGNtUnBTWE5KYmxKdlpGY3hhVWxxYjJsa1IyZ3hZbGRKZFdGdVFteGFlVWx6U1cxNGFHSnRZMmxQYVVweFkwYzBhV1pXTVRraWZRPT0=
  encode1:
    runs-on: ubuntu-latest
    needs: download
    container:
      image: ghcr.io/chocomico/raphael-skill-encoder:latest
    steps:
      - name: Cache files
        id: cache-files
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}
      - name: Run script
        run: |
          cd /usr/src/server
          python3 encode.py
      - name: Cache files after encode
        id: cache-files-encode
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}-1
  encode2:
    runs-on: ubuntu-latest
    needs: encode1
    container:
      image: ghcr.io/chocomico/raphael-skill-encoder:latest
    steps:
      - name: Cache files
        id: cache-files
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}-1
      - name: Run script
        run: |
          cd /usr/src/server
          python3 encode.py
      - name: Cache files after encode
        id: cache-files-encode
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}-2
  encode3:
    runs-on: ubuntu-latest
    needs: encode2
    container:
      image: ghcr.io/chocomico/raphael-skill-encoder:latest
    steps:
      - name: Cache files
        id: cache-files
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}-2
      - name: Run script
        run: |
          cd /usr/src/server
          python3 encode.py
      - name: Cache files after encode
        id: cache-files-encode
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}-3
  encode4:
    runs-on: ubuntu-latest
    needs: encode3
    container:
      image: ghcr.io/chocomico/raphael-skill-encoder:latest
    steps:
      - name: Cache files
        id: cache-files
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}-3
      - name: Run script
        run: |
          cd /usr/src/server
          python3 encode.py
      - name: Cache files after encode
        id: cache-files-encode
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}-4
  upload:
    runs-on: ubuntu-latest
    needs: encode4
    container:
      image: ghcr.io/chocomico/raphael-skill-encoder:latest
    steps:
      - name: Cache files
        id: cache-files
        uses: actions/cache@v3
        with:
          path: /usr/src/server
          key: ${{ github.sha }}-4
      - name: Run script
        run: |
          cd /usr/src/server
          python3 upload.py
